<!DOCTYPE html>

<html>

<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="/css/alerts.css">

{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="content" class="content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>