<ul class="footer-links">
    {{ range .Site.Menus.footer }}
        <li>
            <a href={{ .URL }} target="_blank"><i class="fa fa-{{ .Params.icon }}"></i> {{ or (T .Identifier) .Name | safeHTML }} </a>
        </li>
    {{ end }}
    <a id="theme-select" target="_blank"><i class="fa fa-sun"></i></a>
    <a id="top-back" target="_blank"><i class="fa fa-arrow-up"></i> Voltar ao topo</a>
</ul>
