<nav class="nav">
  <a href="{{ .Site.BaseURL }}" class="nav-logo">
    <img src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo.url }}" 
         alt="{{ .Site.Params.logo.alt }}" id="nav-logo">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li>

      <!-- open external URLs in another tab -->
      {{ if in .URL "https://" }}
        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">
          {{ or (T .Identifier) .Name | safeHTML }}
            <i class="fa fa-external"></i>
        </a>

      <!-- open internal URLs in the same tab -->
      {{ else }}
        <a href="{{ .URL }}">
          {{ or (T .Identifier) .Name | safeHTML }}
        </a>
      {{ end }}

    </li>
    {{ end }}

    <li>
      <a id="theme-select1" target="_blank"><i class="fa fa-sun"></i></a>
    </li>
  </ul>
</nav>
