{{ partial "head.html" . }}
{{ partial "header.html" . }}

<main class="content" role="main">
  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>
    {{ if eq .Section "events" }}
    <span class="article-date">{{ .Date.Format "02/01/2006" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>

    <ul class="article-taxonomy">
      {{ if .Params.categories }}
      <hr>
      <li>
        <i class="fa fa-category"></i>{{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}

      {{ if .Params.tags }}
      <li>
        <i class="fa fa-tags"></i>{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}{{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
      </li>
      {{ end }}
  </article>

  <br><h2>Comentarios:</h2><br>
  <div id="comment-section"></div>
  <script>
      initComments({
          node: document.getElementById("comment-section"),
          defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
          serverName: "cactus.chat",
          siteName: "bzoide",
          commentSectionId: "{{ index .Params.chat_id }}"
      })
  </script>
</main>

{{ partial "footer.html" . }}
